body{ /*tudo*/
  background-image: linear-gradient(to right, rgb(152, 33, 33), black 70%);
  background-repeat: no-repeat;
  font-family: Monaco;
  height: 100vh;
  width: 100%;
}

h1 { /*"Vinheria Agnello"*/
  color: #fff;
  margin-left: 80px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav{ /*Navegador*/
    background-color: black;
    width: 60%;
    height: 10%;
    top: 5%;
    margin-left: 220px;
    position: absolute;
    padding: 10px;
}

header ul{
    position: absolute;
    top: 20%;
}

header li{
  position: relative;
  display: inline;
  padding: 20px;
  top: 50%;
}

header li a{ /*Links navegador*/
  color: #fff;
  text-decoration: none;
}

header li:hover a { /*Sublinhado(hover) nos links*/
  color: rgb(255, 255, 255);
  border-radius: 7%;
  border-bottom: 1px #ffffff solid;
}

.promocao { /*Botão promoção*/ 
  background-color: rgb(152, 33, 33);
  text-decoration: none;
  color: #fff;
  text-align: right;
  margin-right: 200px;
  margin-left: 650px;
  padding: 40px;
  font-size: 30px;
  border-radius: 10%;
}

h3 { /* "Bem vindo" das páginas*/
  color: #f9b2c5;
  margin-left: 80px;
  margin-top: 90px;
}

h2{ /*Descrição da página*/
  color: #fff;
  margin-left: 80px;
  
}

div a { /*Botão "Saiba Mais" */
  color: #fff;
  text-decoration: none;
  margin-left: 80px;
  background-color: black;
  padding: 20px;
  border-radius: 7%;
}

div:hover a { /*Sublinhado(hover) no link */
  color: rgb(255, 255, 255);
  border-radius: 7%;
  border-bottom: 1px #ffffff solid;
}

img{  /* Imagens da página HOME */
    border-radius: 8%;
    float: right;
    text-decoration: none;
    margin-bottom: 28px;
    padding: 5px;
}

.img1{ /* Imagem 1 da página HOME */
  height: 249px;
  width: 280px;
  margin-right: 240px;
  margin-top: 20px;
}

.img2{ /* Imagem 2 da página HOME */
  height: 349px;
  width: 350px;

}


table img{ /*Imagens da página "Loja" */
  background: #000000;
  color: #FFF;
  border-bottom: 1px #000 solid;
  padding: 5px;
  margin: 1px;
  text-decoration: none;
  height: 280px;
  width: 250px;
  margin-left:80px;
  margin-top: 70px;
}

table a{ /*Links dos preços página "Loja" */
  margin-left: 80px;
  margin-top: 80px;
  color: #FFF;
  text-decoration: none;
}
table td:hover a{ /*Sublinhado(hover) no link */
  color: rgb(255, 255, 255);
  border-radius: 7%;
  border-bottom: 1px #ffffff solid;
}

.lista{ /*Lista de produtos página "Tipos" */
  margin-left: 220px;
  margin-top: 80px;
  color: #FFF;
  text-decoration: none;
} 

.vinhodesconto{ /*imagem vinho página Promoção*/
  background: #000000;
  color: #FFF;
  border-bottom: 1px #000 solid;
  text-decoration: none;
  height: 300px;
  width: 280px;
  margin-right: 600px;
  margin-top: 70px;
}

.detalhes2{/*detalhes da promoção*/
  margin-left: 60px;
  margin-top: 90px;
  color: #FFF;
  font-size: 20px;  
}

.detalhes2 li a{
  color:#FFF;
  text-decoration:none;
}

.detalhes2 li:hover a{
  color:#FFF;
  border-radius: 7%;
  border-bottom: 1px #ffffff solid;
}
